extends layout2.pug

block header
    h2 Обзор

block head
    script(src="chart-js/dist/chart.min.js")
    style.
        .corusel {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1rem;

        }

        .card {
            box-shadow: none;
            border: 2px solid #e0e1eb;
            background: white;
            min-height: 10rem;
        }

        .stat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .stat .label {
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #9fa2b4;
        }

        .stat .count {
            display: block;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 1px;
            /*color: #252733;*/
        }

        .corusel .stat:hover {
            color: #3751ff;
            border: 2px solid #3751ff;
            box-shadow: 0 0 0 3px #3776ff55;
        }

        .stat-card {
            display: grid;
            grid-template-columns: auto 300px;
        }

        .chart img {
            width: 100%;
        }

        .chart {
            height: 100%;
            display: grid;
            overflow: hidden;
        }

        .chart div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .chart h3 {
            margin: 0;
        }

        .chart canvas {
            max-height: 30rem;
            width: 100%;
        }

        .stat-list {
            height: 100%;
        }

        .stat-list .stat {
            min-height: 7rem;
        }

        .stat-list .stat:not(:last-child) {
            border-bottom: 1px solid #dfe0eb;
        }

        .reports {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
        }

        .reports .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .reports .header span {
            color: #999999;
        }

        .reports span {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .reports .card {
            margin: 0;
        }

        .reports .interactive {
            color: #3751ff;
            font-weight: bold;
            border: 0 solid white;
        }

        .reports .interactive:hover {
            border: 1px solid #3751ff;
            font-weight: bold;
        }

        .statData, .repData {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            height: 4rem;
        }

        .repData .status {
            padding: .2rem .5rem;
            border-radius: 8px;
            color: white;
            font-weight: bold;
        }

        .statData:not(:last-child), .repData:not(:last-child) {
            border-bottom: 1px solid #dfe0eb;
        }

block body
    .corusel
        -
            const stats = [
                { title: "Решены", count: 60 },
                { title: "Просрочены", count: 16 },
                { title: "Отклонены", count: 43 },
                { title: "Продлены", count: 64 }
            ];
        for stat in stats
            .card.stat.interactive
                span=stat.title
                a.count=stat.count
    .card.stat-card
        .chart
            div
                h3 График
                span 23 декабря 2021, 09:41
            canvas(id="chart" width="400" height="400")
        .stat-list
            -
                const stats2 = [
                    { title: "Вопросы", count: 449 },
                    { title: "Жалобы", count: 426 },
                    { title: "Предложения", count: 43 },
                    { title: "Без темы", count: 15 },
                    { title: "Среднее время ответа", count: "12д 5ч" }
                ];
            for stat in stats2
                .stat
                    span=stat.title
                    a.count=stat.count
    -
        const arr = new Array(22).fill(null);
        const data = {
            labels: arr.map((x, i) => `${ i + 1 } дек`),
            datasets: [
                {
                    label: 'Предложения',
                    data: arr.map(x => Math.round(Math.random() * 10) + 5),
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "green",
                    borderColor: "green",
                    tension: 0.4
                }, {
                    label: 'Вопросы',
                    data: arr.map(x => Math.round(Math.random() * 10) + 5),
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "orange",
                    borderColor: "orange",
                    tension: 0.4
                }, {
                    label: 'Жалобы',
                    data: arr.map(x => Math.round(Math.random() * 10) + 15),
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "red",
                    borderColor: "red",
                    tension: 0.4
                }, {
                    label: 'Без темы',
                    data: arr.map(x => Math.round(Math.random() * 3)),
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "gray",
                    borderColor: "gray",
                    tension: 0.4
                }
            ]
        };
    script.
        const ctx = document.getElementById('chart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: !{ JSON.stringify(data) },
            options: {
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    .reports
        .card
            .header
                div
                    h3 Статистика
                    span Регион: Ростов-На-Дону
                a.interactive(href="/analytics") Детали
            -
                const statData = [
                    { title: "Получено", count: 4238 },
                    { title: "Не просмотрено", count: 1005 },
                    { title: "Ожидают решения", count: 914 },
                    { title: "Отклонены", count: 281 },
                ];
            for stat in statData
                .statData
                    span=stat.title
                    a.status=stat.count
        .card
            .header
                div
                    h3 Обращения
                    span Сегодня
                a.interactive(href="/reports") Все
            -
                const reportData = [
                    { title: "Споткнулась об камень напротив больницы", status: "Отклонено", color: "#fec400" },
                    { title: "Не дали воды в торговом центре", status: "Отклонено", color: "#fec400" },
                    { title: "Течет крыша в больнице “Кировская”", status: "Новое", color: "#29cc97" },
                    { title: "Руководство больнице плохо относится к пациентам", status: "Продлено", color: "#9fa2b4" },
                ];
            for stat in reportData
                .repData
                    span=stat.title
                    a.status(style=`background:${ stat.color }`)=stat.status
