extends layout2.pug

block header
    .flex
        h2 Обращения по городу:
        span.interactive.dropdown
            | Ростов-на-дону
            i(class="fas fa-angle-down" style="margin-left:1rem")

block head
    style.
        .flex {
            display: flex;
            align-items: center;
        }

        .dropdown {
            padding: 1rem;
            background: white;
            border: 2px solid #e0e1eb;
            border-radius: 8px;

        }

        .card {
            box-shadow: none;
            border: 2px solid #e0e1eb;
            background: white;
            min-height: 10rem;
        }

        .card > .title {
            display: flex;
            justify-content: space-between;

        }

        table {
            width: 100%;
            margin-top: 1rem;
            text-align: left;
        }

        td, th {
            padding: .4rem 0;
        }

        td img {
            max-width: 70px;
            max-height: 70px;
            border-radius: 50%;
            margin-right: 1rem;
            background: #dfe0eb;
            border: 1px solid #dfe0eb;
        }

        tr:not(:last-child) {
            border-bottom: 1px solid #dfe0eb;
        }

        tr:hover{
            background: #0001;
        }

        .pill {
            padding: .2rem .5rem;
            border-radius: 8px;
            color: white;
            font-weight: bold;
        }

        .moreIcon {
            color: gray;
        }

block body
    .card
        .title
            h3 Все обращения
            .lefter
                span.interactive.dropdown
                    i(class="fas fa-sort-alpha-down" style="margin-right:1rem")
                    | Сортировка
                span.interactive.dropdown
                    i(class="fas fa-filter" style="margin-right:1rem")
                    | Фильтры
        table
            tr
                th Детали обращения
                th Заявитель
                th Срок
                th Категория
                th
            -
                const reports = [ {
                    avatar: "img/838bbc897d3a0307.jpg",
                    title: "Не приходит сертификат о вакцинации",
                    submit: "02.03.2021",
                    name: "Амбарцумян Гремислав Альбертович",
                    expire: "21.05.2021",
                    expireNoteColor: "#f44336",
                    expireNote: "Просрочена",
                    expireIcon: "fas fa-exclamation-triangle",
                    category: {
                        label: "Вакцинация",
                        color: "#673ab7"
                    }
                }, {
                    avatar: "img/e3c1f9c1f1e3f3c1.jpg",
                    title: "Не хватает педиатров",
                    submit: "26.06.2020",
                    name: "Денисов Юлий Андреевич",
                    expire: "17.09.2020",
                    expireNoteColor: "#f44336",
                    expireNote: "Просрочена",
                    expireIcon: "fas fa-exclamation-triangle",
                    category: {
                        label: "Персонал",
                        color: "#2196f3"
                    }
                }, {
                    avatar: "img/07070b1b3f3f3b13.jpg",
                    title: "Течет крыша в больнице “Кировская”",
                    files: 3,
                    submit: "12.12.2021",
                    name: "Вихирева Милана Даниловна",
                    expire: "11.01.2022",
                    category: {
                        label: "Ремонт",
                        color: "#8bc34a"
                    }
                }, {
                    avatar: "img/c78b9d393d3d3918.jpg",
                    title: "Руководство больнице плохо относится к пациентам",
                    submit: "03.08.2021",
                    name: "Сафарова Кристина Платоновна",
                    expire: "05.03.2022",
                    expireNote: "Продлена",
                    expireIcon: "fas fa-info",
                    category: {
                        label: "Персонал",
                        color: "#2196f3"
                    }
                }, {
                    avatar: "img/18181c1c3c3c1c18.jpg",
                    title: "Ошибка в данных сертификата",
                    files: 1,
                    submit: "16.04.2021",
                    name: "Киселёва Флорентина Иосифовна",
                    expire: "29.06.2021",
                    expireNoteColor: "green",
                    expireNote: "Решена",
                    expireIcon: "fas fa-check",
                    category: {
                        label: "Вакцинация",
                        color: "#673ab7"
                    }
                } ];
            for report in reports
                tr
                    td.flex
                        img(src=report.avatar)
                        div.reportTitle
                            div
                                span(style="font-weight:bold")=report.title
                                if (report.files)
                                    span(style="color:#3751ff;font-weight:bold")
                                        = ` + ${ report.files } `
                                        i(class="fas fa-photo-video")
                            span Дата подачи: #{report.submit}
                    td
                        p=report.name
                    td.expires
                        span=report.expire
                        div(style=`color:${ report.expireNoteColor || "gray" }`)
                            if (report.expireIcon)
                                i(class=report.expireIcon style="margin-right:.5rem")
                            if (report.expireNote)
                                span=report.expireNote
                    td
                        span.pill(style=`background-color:${ report.category.color }`)=report.category.label
                    td
                        i.moreIcon(class="fas fa-angle-right fa-2x")
